In [17]:
import csv
import numpy as np
import pandas as pd
chinesedata = pd.read_csv('/Users/tina/Desktop/10_중국인 관광객 타겟 마케팅을 위한 활용 데이터.csv',encoding='cp949' )
chinadata=pd.read_csv('/Users/tina/Desktop/10_중국인 관광객 타겟 마케팅을 위한 활용 데이터.csv',encoding='cp949' )

In [54]:
chinesedata
chinese_data=chinesedata.sort_values('읍면동명')
chinese_data
c=chinese_data[chinese_data['업종']=='교통'].index
c_=chinese_data.drop(ch)
ch=chinese_data[chinese_data['업종']=='기타'].index
c__=c_.drop(ch)
chi=chinese_data[chinese_data['업종']=='유흥'].index
c___=c__.drop(chi)
chin=chinese_data[chinese_data['업종']=='전체'].index
china_=c___.drop(chin)
china_

,년월,이용자 구분,시도명,읍면동명,업종,방문인구,이용자수,이용금액,데이터기준일자
451,2018-03,중국인관광객,제주시,건입동,소매,41096.785,9646,1.386130e+09,2020-12-15
109,2018-01,중국인관광객,제주시,건입동,숙박,30589.440,7440,1.182320e+09,2020-12-15
438,2018-03,중국인관광객,제주시,건입동,쇼핑,41096.785,44520,1.609524e+09,2020-12-15
439,2018-03,중국인관광객,제주시,건입동,숙박,41096.785,14098,3.740186e+09,2020-12-15
440,2018-03,중국인관광객,제주시,건입동,식음료,41096.785,88298,6.216105e+09,2020-12-15
...,...,...,...,...,...,...,...,...,...
270,2018-02,중국인관광객,서귀포시,효돈동,소매,2332.337,468,7.956000e+06,2020-12-15
271,2018-02,중국인관광객,서귀포시,효돈동,식음료,2332.337,936,1.591200e+07,2020-12-15
1926,2018-11,중국인관광객,서귀포시,효돈동,식음료,5929.939,1342,6.240300e+07,2020-12-15
1776,2018-10,중국인관광객,서귀포시,효돈동,쇼핑,8660.580,2163,4.173148e+07,2020-12-15
1560,2018-09,중국인관광객,서귀포시,효돈동,쇼핑,5098.989,1380,5.281260e+07,2020-12-15

In [55]:
china=china_.groupby(['읍면동명','업종'])["이용금액"].sum()
china

읍면동명  업종
건입동   교통       2.097530e+08
      문화/레져    2.236200e+08
      소매       9.419984e+10
      쇼핑       4.769022e+10
      숙박       1.155397e+11
                   ...
화북동   쇼핑       3.069768e+09
      식음료      3.236150e+08
효돈동   소매       2.932800e+07
      쇼핑       1.857204e+08
      식음료      2.802216e+08
Name: 이용금액, Length: 224, dtype: float64

In [59]:
china1=china_.groupby(['읍면동명','업종'])["이용자수"].sum()
china1

읍면동명  업종
건입동   교통          3648
      문화/레져       3672
      소매        474982
      쇼핑       1121544
      숙박        398170
                ...
화북동   쇼핑        132773
      식음료         5603
효돈동   소매          2187
      쇼핑         10179
      식음료         8580
Name: 이용자수, Length: 224, dtype: int64

In [61]:
china_dataframe=pd.concat([china,china1], axis=1)
china_dataframe
china_dataframe['1인당 이용금액']=china_dataframe['이용금액']/china_dataframe['이용자수']
china_dataframe
#chinadf=china_dataframe.drop(['교통','기타','유흥','전체'])
#ch=china_dataframe[china_dataframe['업종']=='교통'].index

                    이용금액     이용자수       1인당 이용금액
읍면동명 업종
건입동  교통     2.097530e+08     3648   57498.072368
     문화/레져  2.236200e+08     3672   60898.692810
     소매     9.419984e+10   474982  198322.972660
     쇼핑     4.769022e+10  1121544   42521.932033
     숙박     1.155397e+11   398170  290176.770837
...                  ...      ...            ...
화북동  쇼핑     3.069768e+09   132773   23120.421622
     식음료    3.236150e+08     5603   57757.451365
효돈동  소매     2.932800e+07     2187   13410.150892
     쇼핑     1.857204e+08    10179   18245.441595
     식음료    2.802216e+08     8580   32659.860140

[224 rows x 3 columns]

In [19]:
chinadata

,년월,이용자 구분,시도명,읍면동명,업종,방문인구,이용자수,이용금액,데이터기준일자
0,2018-01,중국인관광객,서귀포시,남원읍,쇼핑,179846.027,744,4.836000e+06,2020-12-15
1,2018-01,중국인관광객,제주시,연동,문화/레져,632381.932,744,3.943200e+06,2020-12-15
2,2018-01,중국인관광객,제주시,연동,소매,632381.932,2240928,5.050000e+11,2020-12-15
3,2018-01,중국인관광객,제주시,연동,쇼핑,632381.932,5039112,4.770000e+12,2020-12-15
4,2018-01,중국인관광객,제주시,연동,숙박,632381.932,178560,3.124794e+10,2020-12-15
...,...,...,...,...,...,...,...,...,...
2136,2018-12,중국인관광객,서귀포시,표선면,문화/레져,64744.126,4464,2.663520e+08,2020-12-15
2137,2018-12,중국인관광객,서귀포시,표선면,소매,64744.126,400272,1.080000e+11,2020-12-15
2138,2018-12,중국인관광객,서귀포시,표선면,쇼핑,64744.126,5952,1.702198e+08,2020-12-15
2139,2018-12,중국인관광객,제주시,삼도1동,소매,18223.999,3720,6.276384e+08,2020-12-15
2140,2018-12,중국인관광객,제주시,화북동,쇼핑,6393.284,4431,1.970719e+08,2020-12-15